    .jumbotron{
        background-color: #ffffff;
    }
    .text-center{
        font-family: 'Anton', sans-serif;
    }
    .button {
        margin: 3px;
    }

    .submitmargin {

        margin-top: 5px;
    }

    .item {
        float: left;
        margin: 5px;
    }